*

!.gitignore

!/components/
components/*
!components/hardware_driver/
!components/hardware_driver/**

!/examples/
examples/*
!examples/cn_speech_commands_recognition/
!examples/cn_speech_commands_recognition/**

build/
sdkconfig
sdkconfig.old
target
.vscode
managed_components/
dependencies.lock
test/*/5.0
test/*/4.4
__pycache__
pytest_log
*.bak
